:root {  /* Some variables, these are the default values of these variables*/
  --decoration: #00a9e2;
}
.App {
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#icon105 {
  position: relative;
  margin-right: auto;
  float: right;
  width:100%;
  z-index: 9999;
}

.mainDiv {
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.navBarItems {
  margin: auto;
  text-align: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
